<!DOCTYPE html>
<html>

<!-------------           HEAD               ---------------->

<head>
	<title>Stock Price Prediction</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/mystyle.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/wrap.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="http://use.fontawsome.com/releases/v5.0.8/js/all.js"></script>
	<script src="{{ url_for('static',filename='js/myscript.js') }}"></script>

</head>

<!-------------           BODY               ---------------->

<body style="background: url(../static/images/background.png);background-size: cover;">
	<div class="container mt-5 mb-5">
		<div class="row">

			<!-------------           INTRO               ---------------->

			<div class="card col-lg-7 text-center" style="background: rgba(0, 0, 0, 0.7);">
				<h1 class="m-5" style="color:#dac524da"><strong>Stock Price Prediction</strong>
				</h1>
				</h4>
				<p class="m-5" style="color: white;text-align: justify;">There is no magical way to predict the stock market. However, we can predict the share prices by studying the historical trends by selecting the appropriate Machine learning model. The successful prediction of a stock's future price could yield significant profit.
				</p>
				<h3 style="color:#dac524da"><strong>Let's Predict!!</strong></h3>
				<button class="btn btn-secondary" style="width: 200px; margin-left: 50px; margin-top: 40px; margin-bottom: 50px;"
					data-toggle="modal" data-target="#instructionmodal">Meet Our Team</button>
			</div>

			<!-------------           INPUTS               ---------------->

			<div class="col-lg-5 text-center" style="background: rgb(156, 142, 142,0.7);">
				
				<div id="aa1">
					<h2 class="m-5" style="color:#dac524da"><strong>Input Attributes</strong></h2>
				</div>

				
				
				<div class="m-5" id="aa2" style="display: none;">
					<h2 style="color:rgba(0, 0, 0); " id = "h2"><strong>Training Model...</strong></h2>
				</div>

				<div id="loader" style="display: none;"></div>
				<div id="aa4">
					<form action="/" method="POST" >

						<div class="form-group row">
							<label class="col-lg-4 col-4 offset-lg-1 col-form-label"
								style="font-weight:bolder ;font-size: large;">Select Image</label>
							<div style="display: inline-flex;">
								<div class="col-lg-6 col-xl-5 col-6" style="float: left;">
									<label for="myfile">Select a file:</label>
									<input type="file" id="myfile" name="myfile"><br><br>
							</div>
						</div>
					</div>
						<div class="form-group row  mt-5">
							<div class="col-lg-8 offset-lg-2 col-9 offset-1 mb-5">
								<button type="submit" class="btn btn-primary" id="calculateButton"
									style="width: 100%; " onclick="myFunction2()">Predict</button>
							</div>
						</div>
				</div>

			</div>

			<!-- Result Modal -->
			<div class="modal fade bd-example-modal-lg" id="resultmodal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
				aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" style="margin-left: 35%;"><strong>Prediction Result</strong></h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body text-center">
							<div class="result-box mt-3">
								<img src="../static/images/S1.png" style="width: 750px;">
								<p id="result">{{predicted_result}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-----------------                     Meet Our Team                     --------------------->

			<div class="modal fade" id="instructionmodal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
				aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" style="margin-left: 35%;"><strong>Meet Our Team</strong>
							</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="w-100 text-center" style="background:#009cff;color: white;height: 50px;">
								<h5 style="padding-top: 10px;">Group Members</h5>
							</div>
							<div id="accordion">
								<div class="card mt-2" style="background: rgb(173, 170, 170)">
									<div class="card-header" id="pclassheading"
										style="display: inline-flex;height: 40px;align-content: center;cursor: pointer;"
										data-toggle="collapse" data-target="#pclasscollapse" aria-expanded="false"
										aria-controls="collapseOne">
										<i class="fa fa-plus-circle">
											<b class="ml-3" style="font-family: sans-serif;">Hamza</b>
										</i>
									</div>

									<div id="pclasscollapse" class="collapse" aria-labelledby="pclassheading"
										style="background: white;" data-parent="#accordion">
										<div class="card-body">
											Main Responsibility : <b>Model Training and Testing</b>
											<ul>
												<li>Phone: <span style="font-weight: bolder;color: #4cad13;">+447464331598</span></li>
												<li>Email: <span style="font-weight: bolder;color: #009cff;">Hamza2.Safdar@live.uwe.ac.uk</span></li>
											</ul>
										</div>
									</div>
								</div>

								<div class="card mt-1" style="background: rgb(173, 170, 170)">
									<div class="card-header" id="genderheading"
										style="display: inline-flex;height: 40px;align-content: center;cursor: pointer;"
										data-toggle="collapse" data-target="#gendercollapse" aria-expanded="false"
										aria-controls="collapseOne">
										<i class="fa fa-plus-circle">
											<b class="ml-3" style="font-family: sans-serif;">Lynn</b>
										</i>
									</div>

									<div id="gendercollapse" class="collapse" aria-labelledby="genderheading"
										style="background: white;" data-parent="#accordion">
										<div class="card-body">
											Main Responsibility : <b>Strategic Planning</b>
											<ul>
												<li>Phone: <span style="font-weight: bolder;color: #4cad13;">+9595193841</span></li>
												<li>Email: <span style="font-weight: bolder;color: #009cff;">Htet3.Aung@live.uwe.ac.uk</span></li>
											</ul>
										</div>
									</div>
								</div>

								<div class="card mt-1" style="background: rgb(173, 170, 170)">
									<div class="card-header" id="siblingsheading"
										style="display: inline-flex;height: 40px;align-content: center;cursor: pointer;"
										data-toggle="collapse" data-target="#siblingscollapse" aria-expanded="false"
										aria-controls="collapseOne">
										<i class="fa fa-plus-circle">
											<b class="ml-3" style="font-family: sans-serif;">Jay</b>
										</i>
									</div>

									<div id="siblingscollapse" class="collapse" aria-labelledby="siblingsheading"
										style="background: white;" data-parent="#accordion">
										<div class="card-body">
											Main Responsibility : <b>Project Background Research</b>
											<ul>
												<li>Phone: <span style="font-weight: bolder;color: #4cad13;">+447516092665</span></li>
												<li>Email: <span style="font-weight: bolder;color: #009cff;">jiralak2.bunchongruchakul@live.uwe.ac.uk</span></li>
											</ul>
										</div>
									</div>
								</div>

								<div class="card mt-1" style="background: rgb(173, 170, 170)">
									<div class="card-header" id="embarkedheading"
										style="display: inline-flex;height: 40px;align-content: center;cursor: pointer;"
										data-toggle="collapse" data-target="#embarkedcollapse" aria-expanded="false"
										aria-controls="collapseOne">
										<i class="fa fa-plus-circle">
											<b class="ml-3" style="font-family: sans-serif;">Heather</b>
										</i>
									</div>

									<div id="embarkedcollapse" class="collapse" aria-labelledby="embarkedheading"
										style="background: white;" data-parent="#accordion">
										<div class="card-body">
											Main Responsibility : <b>Research for Potential Project Extension</b>
											<ul>
												<li>Phone: <span style="font-weight: bolder;color: #4cad13;">+447495445060</span></li>
												<li>Email: <span style="font-weight: bolder;color: #009cff;">mya2.thar@live.uwe.ac.uk</span></li>
											</ul>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<script>
		$(document).ready(function () {
			$("#result").ready(function () {
				if ($("#result").text() == "Survived") {
					document.getElementById("result").innerHTML =
						'<h1 id = "result" ><strong> Survived </strong></h1> ';
					$("#result").css("color", "green");
					document.getElementById("result").style.display = "block";
				}

				if ($("#result").text() == "Not Survived") {
					document.getElementById("result").innerHTML =
						'<h1 id = "result"><strong> Not Survived </strong></h1>';
					$("#result").css("color", "#f22849");
					document.getElementById("result").style.display = "block";
				}
			})
		});

		window.onload = function () {
			if (document.getElementById("result").innerText) {
				$("#resultmodal").modal("show");
			}
		};

		function checkSelection(element) {
			if (element.value != "") {
				element.style.borderColor = "green";
			}
		}

		function myFunction2() {
			var h1 = document.getElementById("aa1");
			var h2 = document.getElementById("aa2");
			var a1 = document.getElementById("loader");
			var a2 = document.getElementById("aa3");
			var a3 = document.getElementById("aa4");

			h1.style.display = "none";
			h2.style.display = "block";
			a1.style.display = "block";
			a2.style.display = "none";
			a3.style.display = "none";

  		}

		function predict() {
			var myfile = document.getElementById("myfile").value;

			if (myfile != "") {

			}
		}

	</script>

</body>

</html>